<?xml version="1.0" encoding="UTF-8" ?>
<server description="ear-project">

    <featureManager>
        <feature>faces-4.0</feature>
        <feature>managedBeans-2.0</feature>
        <feature>enterpriseBeans-4.0</feature>
        <feature>persistence-3.1</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9080" />
    <variable name="https.port" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${http.port}" httpsPort="${https.port}" id="defaultHttpEndpoint" />

    <dataSource id="tmpDS" jndiName="jdbc/tmpDS">
        <jdbcDriver libraryRef="postgresql-library"/>
        <properties serverName="localhost" portNumber="5432" databaseName="tmp" user="postgres" password="123456"/>
    </dataSource>

    <library id="postgresql-library">
        <file name="${server.config.dir}/postgresql-42.7.4.jar" />
    </library>

    <enterpriseApplication id="ear" location="ear.ear" name="ear" />
</server>
